@model List<SuppliersInv>

<a asp-action="Index" asp-controller="Company" class="btn btn-primary">List of Records</a>
<a asp-action="Add" asp-controller="Company" class="btn btn-success">Add New Record</a>


@if(Model.Count()<1)
{

        <div class="alert alert-info">
            No Student Records found.
        </div>
        <div class=""></div>
}
else
{
    <table class="table table-striped table-hover table-border ed table-sm">
    <thead>
        <tr>
            <th>Supplier ID</th>
            <th>Company Name</th>
            <th>Address</th>
            <th>Representative</th>
            <th>Contact No.</th>
            <th>Date Added</th>
            <th>Date Modified</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SupplierId</td>
                <td>@item.CompanyName</td>
                <td>@item.Address</td>
                <td>@item.Representative</td>
                <td>@item.ContactNo</td>
                <td>@item.DateAdded</td>
                <td>@item.DateModified</td>
                <td>
                    <a asp-controller="Company" asp-action="Edit"
                       asp-route-id="@item.SupplierId" class="btn btn-outline-info btn-sm">
                        Edit
                    </a>
                    <form asp-controller="Company" asp-action="Delete" method="post" style="display:inline">
                        <input type="hidden" name="SupplierId" value="@item.SupplierId" />
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    </table>

    
}
@*<form id="DeleteForm" asp-controller="Company" asp-action="Delete" method="post">
      <input type ="hidden" id="HiddenCompanyId" name="SupplierId" value=""/>
 </form>*@


@section Scripts{ 
    <script>
        $('.deleteBtn').click(function (e) {
            swal({
                title: "Are you sure?",
                text: "Are you sure want to delete this record?",
                icon: "warning",
                buttons: true,
                dangerMode:true
            }).then((confirm) =>{
                if (confirm) {

                    var btn =$(this);
                    var SupplierId = btn.data("SupplierId");
                    $("#HiddenCompanyId").val(SupplierId);
                    $("#DeleteForm").submit();
                }
            });
        });
    </script>
}
